h4 {
  color: rgb(140, 87, 170);
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.bi{
    font-size: 25pt;
    color: aliceblue;
    padding: 10px;
}

.bi:hover{
    color: rgb(134, 86, 161);
}

span{
    color: rgba(253, 253, 253, 0.479);
    font-size: 14px;
}