@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

h4 {
  color: rgb(134, 86, 161);
}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.bi{
    font-size: 25pt;
    color: aliceblue;
    padding: 10px;
}

.bi:hover{
    color: rgb(134, 86, 161);
}

footer{
    font-family: 'Snippet', sans-serif;
}

span{
    color: rgba(253, 253, 253, 0.479);
    font-size: 14px;
}

img{
    width: 80px;
}