@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

html {
  font-family: 'Snippet', sans-serif;
}

#bg {
  background-image: url("https://i.imgur.com/wz1S4WP.jpg");
  min-height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: blueviolet;
}

