@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');


html {
  font-family: 'Snippet', sans-serif;
}

#container {
  background-color: rgba(69, 21, 92, 0.479);
}

.links{
  color: #70188b;
}

#cd{
  color: #8E37D7;
}



/* botoes */
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 15px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
